.side-bar {
  /* background-color: #6e079b; */
  background-image: linear-gradient(to bottom right, rgb(0, 2, 31), rgb(8, 117, 129));
  min-width: 200px;
  height: 100vh;
}

.navbar-dark .navbar-nav .nav-link {
  color: #161616;
}

.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link, 
.navbar-dark .navbar-nav .nav-link.hover,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #fff;

}
.card {
  background-color: #222222;
  
}

.table {
  color: rgb(199, 199, 199);
}

.domi-the-boss-bar {
  background-color: #17a2b8;
  
}
/* .table .table-hover {
  color: white;
  background-color: #17a2b8;
} */
.domi-ba-color {
  color: #0dcaf0;
  font-size: 18px;
  /* opacity: 2.4; */
}

thead {
  color: #0dcaf0
}

/* tr:nth-child(even) {background-color: #282828;} */

.form-control {
  background-color: #222222;
  border: .07px solid rgb(101, 101, 101);
  margin-bottom: 10px;
}

#seat-form-label {
  font-size: 20px;
}

.form-select {
  background-color: #222222;
  border: .07px solid rgb(101, 101, 101);
  color:rgb(235, 233, 233);
  padding: 7px 14px;
  margin: 3px;
}

.search {
  background-color: #222222;
  border: .07px solid rgb(101, 101, 101);
  color:rgb(235, 233, 233);
  padding: 7px 30px;
  margin: 3px;
  
}

.search-form {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

#button-div {
  display: flex;
  justify-content: center;
  margin: 20px;
}
#first_name, #last_name, #mobile_number, #people, #reservation_date, #reservation_time {
  background-color: #222222;
  color:rgb(235, 233, 233)
}