.side-bar {
  /* background-color: #6e079b; */
  background-image: linear-gradient(to bottom right, rgb(0, 2, 31), rgb(8, 117, 129));
  min-width: 200px;
}

.table {
  color: rgb(199, 199, 199);
}


thead {
  color: #0dcaf0
}

/* tr:nth-child(even) {background-color: #282828;} */

.form-control {
  background-color: #222222;
  border: .07px solid rgb(101, 101, 101);
  margin-bottom: 10px;
}

#seat-form-label {
  font-size: 20px;
}

.form-select {
  background-color: #222222;
  border: .07px solid rgb(101, 101, 101);
  color:rgb(235, 233, 233);
  padding: 7px 14px;
  margin: 3px;
}

.search {
  background-color: #222222;
  border: .07px solid rgb(101, 101, 101);
  color:rgb(235, 233, 233);
  padding: 7px 30px;
  margin: 3px;
  
}

.search-form {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

#button-div {
  display: flex;
  justify-content: center;
  margin: 20px;
}
#first_name, #last_name, #mobile_number, #people, #reservation_date, #reservation_time {
  background-color: #222222;
  color:rgb(235, 233, 233)
}