body {
 /*   background-image: linear-gradient(to bottom right, #111111, #3e3e3e);*/
    background-size: cover;
    background-color: #161616;
    color: rgb(235, 233, 233);
}
input { color-scheme: dark; }